body{
    width:1000px;
    margin:auto;
    height:100%;
}

header{
    width:1000px;
    height:72px;
    background-color:#fffabe;
    margin:auto;
}

.headerImage{
    background-image: url("images/fireworks.jpg");
    width:1000px;
    height:400px;
}

.logo{
    position:relative;
    top: 20px;
    left:45px;
}

header nav ul{
    list-style: none;
}

header nav li{
    display:inline;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#515151;
    padding-left:25px;
    padding-right:25px;
    position:relative;
    left:220px;
    bottom:25px;
}

header nav a:link{
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#515151;
}

/*Don't know why the hover color isn't working*/

header nav a:hover{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#d42551;
}

header nav a:visited{
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#515151;
}

header nav a:active{
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#515151;
}

.welcome_image{
    display:block;
    margin:auto;
}

main{
    width:1000px;
    margin:auto;
    height:100%;
    position:relative;
    top:200px;
    padding-bottom: 80px;
}

aside{
    float:left;
    display:block;
    position:relative;
    bottom:25px;
}

section.home_page{
    float:right;
    display:block;
    position:relative;
    top:-150px;
    width:700px;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#6a6969;
    font-weight: normal;
    margin:40px 0 40px 0;
}


p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#6a6969;
    text-align:justify;
}

.bottom_section_home_page{
    margin:auto;
    width:1000px;
    height:140px;
    position:relative;
    top:50px;
    display:flex;
    justify-content:space-between;
    padding-bottom:80px;

}

.monday{
    width:126px;
    height:140px;
    background-color:#fffabe;
    display:inline-block;
    float:left;
    white-space:nowrap;

}

.tuesday{
    width:126px;
    height:140px;
    background-color:#fffabe;
    display:inline-block;
    float:left;
    white-space:nowrap;
}

.wednesday{
    width:126px;
    height:140px;
    background-color:#fffabe;
    display:inline-block;
    float:left;
    white-space:nowrap;
}

.thursday{
    width:126px;
    height:140px;
    background-color:#fffabe;
    display:inline-block;
    float:left;
    white-space:nowrap;
}

.friday{
    width:126px;
    height:140px;
    background-color:#fffabe;
    display:inline-block;
    float:left;
    white-space:nowrap;
}

.saturday{
    width:126px;
    height:140px;
    background-color:#fffabe;
    display:inline-block;
    float:left;
    white-space:nowrap;
}

.sunday{
    width:126px;
    height:140px;
    background-color:#fffabe;
    display:inline-block;
    float:left;
    white-space:nowrap;
}

.monday .bottom_color_bar{
    width:126px;
    height:33px;
    background-color:#824603;
    position:absolute;
    top:107px;
}

.tuesday .bottom_color_bar{
    width:126px;
    height:33px;
    background-color:#fffabe;
    position:absolute;
    top:107px;
}

.wednesday .bottom_color_bar{
    width:126px;
    height:33px;
    background-color:#df5277;
    position:absolute;
    top:107px;
}

.thursday .bottom_color_bar{
    width:126px;
    height:33px;
    background-color:#fffabe;
    position:absolute;
    top:107px;
}

.friday .bottom_color_bar{
    width:126px;
    height:33px;
    background-color:#a2304e;
    position:absolute;
    top:107px;
}

.saturday .bottom_color_bar{
    width:126px;
    height:33px;
    background-color:#fffabe;
    position:absolute;
    top:107px;
}

.sunday .bottom_color_bar{
    width:126px;
    height:33px;
    background-color:#c39005;
    position:absolute;
    top:107px;
}

.day_of_the_week_header{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#6a6969;
    position:relative;
    left:10px;

}

.font_12_points_timeSlot{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#6a6969;
    position:relative;
    left:10px;
}

.font_12_points_flavors{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#6a6969;
    position:relative;
    left:10px;
    top:8px;
}

.font_12_points_flavors_white{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:white;
    position:relative;
    bottom:5px;
    left:10px;
}

.font_12_points_flavors_grey{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#6a6969;
    position:relative;
    bottom:5px;
    left:10px;
}

.top_small_macaron_icon{
    position:relative;
    left:90px;
    bottom:20px;
}

.bottom_small_macaron_icon{
    position:relative;
    left:90px;
    bottom:33px;
}

footer{
    width: 1000px;
    margin:auto;
    height: 80px;
    background-color:#df5277;
    clear:both;
}

footer ul{
    list-style: none;
    text-align:center;
    margin:0;
    padding:0;
    position:relative;
    top:15px;
}

footer li{
    display:inline;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    margin:80px;
}
}

#phone_number_text{
    position:relative;
    right:20px;
}

.copyright_text{
    color:white;
    text-align:center;
    position:relative;
    top:10px;
}

.flavor_list_our_macarons{
    font-family:Arial, Helvetica, sans-serif;
    color:#6a6969;
}

section.our_macarons{
    display:block;
    position:relative;
    top:-150px;
    width:1000px;
}

aside.classics_our_macarons{
    float:left;
    display:block;
    position:relative;
    height:400px;
    bottom:150px;
    width:1000px;
    background-image: url("images/our-macarons-background.png");
    background-position: 100% 60%;
}

.bottom_section_our_macarons{
    margin:auto;
    width:1000px;
    height:140px;
    position:relative;
    top:50px;
    display:flex;
    justify-content:space-between;
    padding-bottom:80px;
}

.inline_email_text_gifts_parties{
    color:#df5277;
}

.our_macarons ul{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#6a6969;
}

section.party_tower_gifts_parties {
    display: block;
    position: relative;
    top: -150px;
    width: 500px;
}

.party_tower_gifts_parties ul{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#6a6969;
}

.gifts_parties_background{
    position:relative;
    bottom:680px;
    z-index:-1;
}

footer.gifts_parties {
    width: 1000px;
    margin: auto;
    height: 80px;
    background-color: #df5277;
    position:relative;
    bottom:510px;
}

/*Contact Page*/

.left_contact{
    width:310px;
    height:370px;
    float:left;
    display:inline-block;
}

.middle_contact{
    width:310px;
    height:430px;
    float:left;
    display:inline-block;
}

.right_contact{
    width:310px;
    height:300px;
    float:left;
    display:inline-block;
    position:relative;
    top:70px;
    background-image: url("images/macarons-image.png");
    background-repeat: no-repeat;
    background-size: 230px;
}

.contact_container{
    width:1000px;
    height:450px;
    justify-content:space-between;
    display:flex;
    position:relative;
    padding-bottom:80px;
}

#contact_form_header{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#6a6969;
    font-weight: normal;
    margin-bottom:20px;
}

input[type=text]{
    width:310px;
    height:35px;
    background-color:#f5f5f5;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    border:none;
    margin-bottom:15px;

}

::-webkit-input-placeholder {
    color: #6a6969;
    text-indent: 3px;
}

textarea{
    width:310px;
    height:70px;
    background-color:#f5f5f5;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    border:none;
}

textarea::-webkit-input-placeholder{
    color:#6a6969;
    text-indent:3px;
}

input[type=submit]{
    width:155px;
    height:35px;
    background-color:#f5f5f5;
    font-size:16px;
    color: #6a6969;
    font-family:Arial, Helvetica, sans-serif;
    border:none;
    position:relative;
    left:155px;
    margin-top:10px;
}

/* iPhone 6 size Contact Page */

@media screen and (max-width: 627px){

    body{
        width:100vw;
        margin:auto;
        height:100%;
    }

    header{
        width:100vw;
        height:15vh;
        background-color:#fffabe;
        margin:auto;
    }

    .logo{
        position:relative;
        left:40%;

    }

    header nav ul{
        list-style: none;
        position:relative;
        left:-38vw;
        top:5vh;
    }

    header nav li{
        display:inline;
        font-family:Arial, Helvetica, sans-serif;
        font-size:2em;
        color:#515151;
        padding-left:2vw;
        padding-right:2vw;
        text-align:center;
    }

    .top_image{
        width:100vw;
        height:auto;
    }

    p{
        font-size:1.5em;
    }

    .left_contact{
        width:100vw;
        height:60vh;
        display:block;
        position:relative;
        left:10vw;
        border-bottom: 4px solid #f5f5f5;;
    }

    .middle_contact{
        width:width:100vw;
        height:auto;
        display:block;
        position:relative;
        top:65vh;
        right:66vw;
    }

    .right_contact{
        visibility:hidden;
    }

    h1{
        font-size:2em;
    }

    #contact_form_header{
        font-size:2em;
    }

    input[type=text]{
        width:75vw;
        height:7vh;
        background-color:#f5f5f5;
        font-size:1.5em;
        font-family:Arial, Helvetica, sans-serif;
        border:none;
        margin-bottom:15px;

    }

    ::-webkit-input-placeholder {
        color: #6a6969;
        text-indent: 3vw;
    }

    textarea{
        width:75vw;
        height:28vw;
        font-size:1.5em;
    }

    textarea::-webkit-input-placeholder{
        color:#6a6969;
        text-indent:3vw;
    }

    input[type=submit]{
        width:25vw;
        height:7vh;
        font-size:1.5em;
        position:relative;
        left:50vw;
    }

    footer{
        width:100vw;
        margin:auto;
        height: 15vh;
        background-color:#df5277;
        clear:both;
        position:relative;
        top:90vh;
    }

    footer ul{
        list-style: none;
        text-align:center;
        margin:0;
        padding:0;
        position:relative;
        top:4vh;
    }

    footer li{
        display:inline;
        font-family:Arial, Helvetica, sans-serif;
        color:white;
        margin:4vw;
    }


    #phone_number_text{
        position:relative;
        right:20px;
    }

    .copyright_text{
        color:white;
        text-align:center;
        position:relative;
        top:6vh;
        font-size:1em;
    }
}
